body{
  background: url("http://dcervin.com/i/2017/02/light-blue-wallpapers-desktop.jpg") no-repeat fixed center;
  background-size: cover;
}

h1 {
  margin-left: 1.5%;
  display: inline-block;
  font-size: 3em;
}

nav {
  float: right;
}

nav>section {
  padding-top: 2.5em;
}


  @media only screen and (max-width: 768px){
    nav {
      float: none;
      margin-left: 1.5%;
    }
    nav>section {
      padding-top: 0;
    }
  }

nav>section>span {
  font-size: 1.5em;
  vertical-align: bottom;
}

@media only screen and (max-width: 415px){
  #header>div>img {
    display: none;
  }
}

.main_Container {
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid black;
}

.pure-g {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("http://dcervin.com/i/2017/02/light-blue-wallpapers-desktop.jpg") no-repeat fixed center;
  background-size: cover;
}

.pure-u-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-u-lg-1-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-u-md-1-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-u-sm-1-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-u-xs-1-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mainRender-appear {
  opacity: 0.01;
}

.mainRender-appear.mainRender-appear-active {
   opacity: 1;
   transition: opacity 2000ms ease-in;
}

#quoteOfTheDay_Container {
  text-align: center;
  border-top: 1px solid black;
}

#youtubeFrame_Container {
/*  background-color: rgba(255, 0, 0, .4);
*/
  padding-bottom: 1em;
}

#currentEvents_Container {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-bottom: 1em;
/*  background-color: white;
*/}

  @media only screen and (max-width: 1025px) {
    #currentEvents_Container {
      border-right: none;
      border-left: none;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding-bottom: 1em;
    }
  }

#misc_Container {
/*  background-color: rgba(0, 0, 255, .4);
*/}

#loginTitle {
  text-decoration: none;
  vertical-align: bottom;
}

#loginTitle>img {
  vertical-align: bottom;
  margin-right:2em;
  margin-left: 2em;
}

#logoutLink{

}


#spinGlobe {
  float: right;
}
