.hiddenControlNone {
  display: none;
}

.hiddenControl{
  visibility: hidden;
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.trivBtnSelect {
  margin-bottom: .5em;
  vertical-align: bottom;
  border-radius: 15px;
  display: block;
}

#misc {
  margin-right: 5%;
  margin-left: 5%;
}

#startTrivia {
  margin-top: 1em;
  margin-left: 9em;
  border-radius: 15px;
}

#startBtn{
  margin-top: .1em;
  margin-left: 10%;
  border-radius: 15px;
}

#catSelect{
  margin-top: .5%;
  margin-left: 2%;
  border-radius: 15px;
  font-size: 1.3em;
}

#triviaGame {

}

#triviaGameInner {
  border: 1px solid black;
  width: 400px;
  height: 300px;
}

#trivQA {
  padding-left: 1em;
  padding-right: 1em;
}

#trivQAHeader {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  display: block;
}
